
@charset "utf-8";


a:hover {
    text-decoration: none;
}
p {
    margin: 0;
}

.listProject li {
    position: relative;
    width: 300px;
    height: auto;
    float: left;
    margin: 30px 0 0 30px;
    overflow: hidden;
}

.listProject li a p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 0;
    box-sizing: border-box;
    color: #000;
}

.listProject li a>p:first-of-type {
    text-align: center;
    background: linen;
}

.listProject li a>p:first-of-type i {
    float: left;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    font-size: 18px;
}
.listProject li a>img{
	width:300px;
	height:180px;
}

.listProject li .des {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    background: #000;
    opacity: 0.6;
    transition: all 1s;
}

.listProject li div>p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #fff;
}
.listProject li .des p span{
    display: inline-block;
    width: 65px;
    height: 100%;
    text-align: right;
    margin-right:10px;
}

.listProject li:hover .des {
    bottom: 0;
}
.listProject li:hover .history {
    display: block;
}
.breadcrumb{
    margin: -28px -28px 0 -28px;
}

.breadcrumb li:last-of-type {
    line-height: 20px;
}

.breadcrumb li:last-of-type span {
    vertical-align: top;
}

.lists a {
    margin-left: 10px;
}

.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;

}


.first-list {
    border: 1px solid #000;
    text-align: center;
    height: 230px;
    padding: 47px 0;
}

.first-list i {
    position: relative;
    top: -20px;
    font-size: 100px;
    color: #ccc;
}

.first-list div {
    bottom: 0;
}

.upload {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    background: #000;
    opacity: .5;
}

.listProject li .upload {
    color: #fff;
}

#sidebar-left {
    width: 10%;
}

#content {
    width: 90%;
    margin-left: 10% !important;
}


/*tree*/
#tree{
    float: left;
    width: 15%;
    height: 100%;
    overflow-x:auto;
    padding:5px 0 0  0;
    border: 1px  solid #ccc;
    box-sizing: border-box;
}


html,
body {
    overflow-y: hidden;
}
#left{
    width: 100%;
    height: 100%;
}
.panel.datagrid{
    width: 100%!important;
    height: 100%;
}

#treeGridThree{
    display: none;
}
.panel-header, .panel-body {
    border-width: 0;
}

.datagrid-footer-inner {
    border-width: 0;
}

.allWidth{
    width: 100%!important;
}
.datagrid-wrap,.panel-body ,.panel-body-noheader, datagrid-view{
    height: 100%!important;
}

#content{
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: 10% !important;
}
.breadcrumb{
    margin: 0;
}
#sidebar-left{
    width: 10%;
}

#DataTables_Table_0{
    width: 100%;
    margin: 0;
}

#DataTables_Table_0 thead>tr>th{
    text-align: center;
    vertical-align: middle;
}
#DataTables_Table_0_wrapper>.row-fluid:first-of-type{
    margin-top: 10px;
}

.box-content{
    padding:0;
}


.lists a{
    margin-left:10px;
}
.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}
.activeList{
    color:red;
    font-weight: bold;
}
#DataTables_Table_0 tbody>tr>td{
    text-align: center;
    vertical-align: middle;
}

/*按钮部分*/
#div1{
    margin-top: 3px;
    display: inline-block;
    width: 35px;
    height: 15px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
}
#div2{

    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    background: white;
    box-sizing: border-box;
}
.open1{
    background: rgba(0,184,0,0.8);
}
.open2{
    top: -1px;
    right: 0;
}
.close1{
    background: rgba(255,255,255,0.4);
    border:1px solid rgba(0,0,0,0.15);
    border-left: transparent;
}
.close2{
    left: 0;
    top: -2px;
    border:1px solid rgba(0,0,0,0.1);
}

.breadcrumb li:last-of-type{
    line-height: 20px;
}
.breadcrumb li:last-of-type span{
    vertical-align: top;
}

.changWidth{
    width: 10%!important;
}
#treeGridThree_wrapper  .row-fluid{
    display: none;
}


.toggleText{
    display: inline-block;
    width: 40px;
    border:1px solid #000;
    cursor: pointer;
}

.on{
    background: red;
}

.table td {
    padding: 8px 0;
    font-size: 12px;
}

.box{
    display: inline-block;
    width: 84%!important;
    border:none;
    margin: 0;
}


.container-fluid-full{
    height:calc(100% - 50.4px);
}
.container-fluid-full>.row-fluid{
    position: relative;
    height: 100%;
}
#content{
    min-height: 0!important;
    height: 100%
}

.row-fluid.sortable.ui-sortable{
    height: 100%;
}

td img{
    width: 20px;
}
.box-content tbody tr td,.box-content thead tr td{
    text-align: center;
}
#DataTables_Table_0_info{
    display: none;
}

/*会员*/
.header-nav a.btn {
    padding: 15px 10px !important;
}

a.brand span {
    font-size: 24px!important;
}

.history{
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.history a{
    display: inline-block;
    width: 60px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 10px;
    background-color: #ccc;
}
.history a:hover{
    background-color: #50bfff;
    color:#fff;
}

.check{
    position: absolute;
    right: 0;
    bottom: 0;
    color: lightcoral;
    font-size: 18px;
}


.different{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    border-radius: 5px;
    z-index: 50;
    margin: -250px 0 0 -300px;
}

.different>p:first-of-type{
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
.different>p:first-of-type span{
    float: right;
    width: 40px;
    height: 100%;
    font-size: 16px;
    color: #000;
}
.different>p:first-of-type span:hover{
    background-color: red;
}
.different>i{
    position: relative;
    top: 3px;
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color: yellow;
    border: 1px solid #000;
}
.different>p:nth-of-type(2){
    clear: both;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

.lct{
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url('../img/workflow.png');
    -webkit-background-size:cover;
    background-size:cover;
}
.lct>span{
    position: absolute;
    text-align: center;
    font-size: 12px;
    transition: all 0.5s;
    border-radius: 5px;
}
/*.lct>span:hover{*/
    /*transform: scale(1.1);*/
/*}*/
.lct>span:first-of-type{
    top: 83px;
    left: 18px;
    width: 66px;
    height: 30px;
    line-height:30px;
    background-color: green;
}

.lct>span:nth-of-type(2){
    top: 81px;
    left: 130px;
    width: 66px;
    height: 37px;
    line-height: 37px;
    background-color: green;
}

.lct>span:nth-of-type(3){
    top: 38px;
    left: 247px;
    width: 65px;
    height: 32px;
    line-height: 30px;
    background-color: yellow;
}
.lct>span:nth-of-type(4){
    top: 128px;
    left: 248px;
    width: 62px;
    height: 30px;
    line-height: 30px;
}
.lct>span:nth-of-type(5){
    top: 84px;
    left: 363px;
    width: 64px;
    height: 36px;
    text-align: center;
    line-height: 36px;
}

.lct>span:nth-of-type(6){
    top: 87px;
    left: 475px;
    width: 65px;
    height: 30px;
    line-height: 30px;
}
