
@charset "utf-8";
html,
body {
    overflow-y: hidden;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0;
}
.activeList{
    color:red;
    font-weight: bold;
}
.breadcrumb{
    margin: -28px -28px 0 -28px;
}

.breadcrumb li:last-of-type {
    line-height: 20px;
}

.breadcrumb li:last-of-type span {
    vertical-align: top;
}

.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}

/*tree*/
#tree{
    float: left;
    width: 15%;
    height: 100%;
    overflow-x:auto;
    padding:5px 0 0  0;
    border: 1px  solid #ccc;
    box-sizing: border-box;
}

#left{
    width: 100%;
    height: 100%;
}
.panel.datagrid{
    width: 100%!important;
    height: 100%;
}


.panel-header, .panel-body,.datagrid-footer-inner {
    border-width: 0;
}

#content{
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: 10% !important;
    min-height: 0!important;
    height:100%!important;
    height: 100%
}
.breadcrumb{
    margin: 0;
}

.box-content{
    padding:0;
}


.lists a{
    margin-left:10px;
}
.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}
.on{
    background: red;
}
.box{
    display: inline-block;
    width: 84%!important;
    height: 100%!important;
    border:none;
    margin: 0;
}

.container-fluid-full{
    height:calc(100% - 50.4px);
}
.container-fluid-full>.row-fluid{
    position: relative;
    height: 100%;
}
#content .row-fluid{
    position: relative;
    overflow: hidden;
    width: auto;
    font-size:0;
}
/*会员*/
.header-nav a.btn {
    padding: 15px 10px !important;
}

a.brand span {
    font-size: 24px!important;
}
iframe:first-of-type,iframe:nth-of-type(2){
    width: 49.8%;
    height: 50%;
    margin: 0;
    
    border-width:0;
    box-sizing: border-box;
}
iframe:last-of-type{
    width: 100%;
    height: 49%;
    margin: -9px 0 0 0;
       
    box-sizing: border-box;
}
.sel{
    position: absolute;
    left: 3px;
    top: 0;
    height: 35px;
    line-height: 35px;
	z-index: 2;
    margin-top: 3px;
    width: 120px;
font-size:14px;
    border:1px solid #000;
}

#moreInfoBox{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 120px;
    padding: 10px;
    background-color: #E0ECFF;
    border-radius: 5px;
    margin:-60px 0 0 -200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}

#moreInfoBox ul{
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
#moreInfoBox ul li{
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    font-size: 12px;
}
