
@charset "utf-8";
html,
body {
    overflow-y: hidden;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0;
}
.activeList{
    color:red;
    font-weight: bold;
}
.breadcrumb{
    margin: -28px -28px 0 -28px;
}

.breadcrumb li:last-of-type {
    line-height: 20px;
}

.breadcrumb li:last-of-type span {
    vertical-align: top;
}

.lists a {
    margin-left: 10px;
}

.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}

/*tree*/
#tree{
    float: left;
    width: 15%;
    height: 100%;
    overflow-x:auto;
    padding:5px 0 0  0;
    border: 1px  solid #ccc;
    box-sizing: border-box;
}

#left{
    width: 100%;
    height: 100%;
}
.panel.datagrid{
    width: 100%!important;
    height: 100%;
}


.panel-header, .panel-body,.datagrid-footer-inner {
    border-width: 0;
}

#content{
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: 10% !important;
    min-height: 0!important;
    height: 100%
}
.breadcrumb{
    margin: 0;
}

.box-content{
    padding:0;
}


.lists a{
    margin-left:10px;
}
.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}
.on{
    background: red;
}
.box{
    display: inline-block;
    width: 84%!important;
    height: 100%!important;
    border:none;
    margin: 0;
}

.container-fluid-full{
    height:calc(100% - 50.4px);
}
.container-fluid-full>.row-fluid{
    position: relative;
    height: 100%;
}
#content .row-fluid{
    position: relative;
    overflow: hidden;
    width: auto;
}
/*会员*/
.header-nav a.btn {
    padding: 15px 10px !important;
}

a.brand span {
    font-size: 24px!important;
}
iframe{
    width: 33%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.sel{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.sel select{
    margin-top: 3px;
    width: 120px;
}


