@charset "utf-8";
html,
body {
    overflow-y: hidden;
}


#treeGridThree{
    display: none;
}
.panel-header, .panel-body {
    border-width: 0;
}

.datagrid-footer-inner {
 border-width: 0;
}
#content{
    padding: 0;
    width: 100%;
    margin: 0!important;
}
.breadcrumb{
    margin: 0;
}

#DataTables_Table_0{
    width: 100%;
    margin: 0;
}

#DataTables_Table_0 thead>tr>th{
    text-align: center;
    vertical-align: middle;
}
#DataTables_Table_0_wrapper>.row-fluid:first-of-type{
    margin-top: 10px;
}

.box-content{
    padding:10px;
}
.breadcrumb .lists a{
	margin-left: 10px;
}
.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}
.activeList{
    color:red;
    font-weight: bold;
}
#DataTables_Table_0 tbody>tr>td{
    text-align: center;
    vertical-align: middle;
}
.breadcrumb li:last-of-type{
    line-height: 20px;
}
.breadcrumb li:last-of-type span{
    vertical-align: top;
}
#treeGridThree_wrapper  .row-fluid{
    display: none;
}

.on{
    background: red;
}

.table td {
    padding: 8px 0;
    font-size: 12px;
}

.box{
    border:none;
}
.container-fluid-full{
    height:calc(100% - 50.4px);
}
.container-fluid-full>.row-fluid{
    position: relative;
    height: 100%;
}
#content{
    min-height: 0!important;
    height: 100%
}

.row-fluid.sortable.ui-sortable{
    height: 100%;
}

/*会员*/
.header-nav a.btn {
    padding: 15px 10px !important;
}

a.brand span {
    font-size: 24px!important;
}