@charset "utf-8";

html,
body {
    /*overflow-y: hidden;*/
}
a:hover{
    text-decoration: none;
}
#left{
    width: 100%;
    height: 100%;
}

.breadcrumb{
    margin: 0;
}
.breadcrumb>a i{
    margin-left: 10px;
}
.breadcrumb li{
    margin-left: 10px;
}

.box-content{
    padding:0;
}

.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}
.activeList{
    color:red;
    font-weight: bold;
}

.breadcrumb li:last-of-type{
    line-height: 20px;
}
.breadcrumb li:last-of-type span{
    vertical-align: top;
}

.row-fluid {
    position: relative;
    height: 100%!important;
}
#init{
    float: right;
    height: 100%;
    width: 100%;
}
.nav li{
    cursor:pointer;
}

.container-fluid-full{
    height:calc(100% - 50.4px);
}
.container-fluid-full>.row-fluid{
    position: relative;
    height: 100%;
}

/*会员*/
.header-nav a.btn {
    padding: 15px 10px !important;
}

a.brand span {
    font-size: 24px!important;
}
