@charset "utf-8";
html,
body {
    overflow-y: hidden;
}
.cesium-viewer-bottom{
    display: none;
}


#content{
    padding: 0;
    width: 90%;
    margin:0 0 0 10% !important;
    min-height: 0!important;
    height:100%!important;
}
.breadcrumb{
    margin: 0;
}
#sidebar-left{
    width: 10%;
}

.box-content{
    padding:0;
    text-align: center;
}

.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}
.activeList{
    color:red;
    font-weight: bold;
}

.box{
    margin: 10px!important;
    min-height: 544px !important;
    overflow: hidden;
}


/*按钮部分*/
#div1{
    margin-top: 3px;
    display: inline-block;
    width: 35px;
    height: 15px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
}
#div2{

    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    background: white;
    box-sizing: border-box;
}
.open1{
    background: rgba(0,184,0,0.8);
}
.open2{
    top: -1px;
    right: 0;
}
.close1{
    background: rgba(255,255,255,0.4);
    border:1px solid rgba(0,0,0,0.15);
    border-left: transparent;
}
.close2{
    left: 0;
    top: -2px;
    border:1px solid rgba(0,0,0,0.1);
}

.breadcrumb li:last-of-type{
    line-height: 20px;
}
.breadcrumb li:last-of-type span{
    vertical-align: top;
}
#tree{
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: 99%;
    overflow-x:auto;
    padding:5px 0 0  0;
}
#earth{
    position: absolute!important;
    right: 0;
    top: 0;
    height: 100%;
    width: 85%;
}
.toggleText{
    display: inline-block;
    width: 40px;
    border:1px solid #000;
    cursor: pointer;
}
.table td {
    text-align: center;
    padding: 8px 0;
    font-size: 12px;
}
.table td:hover{
	color:red;
}
.table th{
    text-align: center;
}
.table{
    margin-bottom: 0;
}


.container-fluid-full{
    height:calc(100% - 50.4px);
}
.container-fluid-full>.row-fluid{
    position: relative;
    height: 100%;
}

#contentBox{
    overflow-y: auto;
    height:calc(100% - 50px)!important;
}

/*会员*/
.header-nav a.btn {
    padding: 15px 10px !important;
}

a.brand span {
    font-size: 24px!important;
}

.changeToThree{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}
.perFour{
    width: 38%;display: inline-block;
}
.perTwo{
    width: 18%;display: inline-block;
}

#chart{
    display: none;
    position: absolute;
    left: 45%;
    top: 10%;
    width: 500px;
    height: 500px;
    background-color: #fff!important;
    cursor: move;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    padding-top: 30px;
    z-index:99;
}
.table tbody tr{
    cursor: pointer;
}

.closeChart{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    border-top-right-radius: 5px;
    z-index:100;
    cursor: pointer;
}
#picChart{
    width: 500px;
    height: 470px;
}

.detailInfo {
	display:none;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 500px;
    border: 1px solid #000;
}

.detailInfo ul li {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    list-style: none;
}

.detailInfo ul li:not(:last-of-type) {
    border-bottom: 1px solid #000;
}

.detailInfo ul li span {
    display: inline-block;
    width: 50%; 
    height: 100%;
    text-align: center;
    line-height: 29px;
    box-sizing: border-box;
    vertical-align: top;
    border-right: 1px solid #000;
    background-color: rgba(221, 221, 221, 0.67);
    font-size: 16px;
}

.detailInfo ul li input {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 39px;
    box-sizing: border-box;
    vertical-align: top;
    border: none;
    background-color: #fff;
}

.detailInfo ul li input:last-of-type {
    font-size: 16px;
}

.detailInfo button {
    width: 100%;
    height: 40px;
    background-color: cadetblue;
    border: none;
    outline: none;
     font-size: 16px;
}
.yaw{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -19px 0 0 -73px;
    width: 150px;
    height: 150px;
    transform: rotate(-10deg);
}