@charset "utf-8";

html,
body {
    overflow-y: hidden;
}
#left{
    width: 100%;
    height: 100%;
}
#content{
    height:100%!important;
}
.panel.datagrid{
    width: 100%!important;
    height: 100%;
}

#treeGridThree{
    display: none;
}
.panel-header, .panel-body {
    border-width: 0;
}

.datagrid-footer-inner {
 border-width: 0;
}

.allWidth{
     width: 100%!important;
 }
.datagrid-wrap,.panel-body ,.panel-body-noheader, datagrid-view{
    height: 100%!important;
}


.breadcrumb{
    margin: 0;
}

#DataTables_Table_0{
    width: 100%;
    margin: 0;
}

#DataTables_Table_0 thead>tr>th{
    text-align: center;
    vertical-align: middle;
}
#DataTables_Table_0_wrapper>.row-fluid:first-of-type{
    margin-top: 10px;
}

.box-content{
    padding:0;
}

.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}
.activeList{
    color:red;
    font-weight: bold;
}
#DataTables_Table_0 tbody>tr>td{
    text-align: center;
    vertical-align: middle;
}

/*按钮部分*/
#div1{
    margin-top: 3px;
    display: inline-block;
    width: 35px;
    height: 15px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
}
#div2{

    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    background: white;
    box-sizing: border-box;
}
.open1{
    background: rgba(0,184,0,0.8);
}
.open2{
    top: -1px;
    right: 0;
}
.close1{
    background: rgba(255,255,255,0.4);
    border:1px solid rgba(0,0,0,0.15);
    border-left: transparent;
}
.close2{
    left: 0;
    top: -2px;
    border:1px solid rgba(0,0,0,0.1);
}

.breadcrumb li:last-of-type{
    line-height: 20px;
}
.breadcrumb li:last-of-type span{
    vertical-align: top;
}

.changWidth{
    width: 10%!important;
}
#treeGridThree_wrapper  .row-fluid{
    display: none;
}

#tree{
    display: none;
    width: 100%;
    height: 100%;
    overflow-x:auto;
    padding:5px 0 0  0;
}

#earth{
    display: none;
    float: right;
    height: 100%;
    width: 85%;
}
.toggleText{
    display: inline-block;
    width: 40px;
    border:1px solid #000;
    cursor: pointer;
}

.on{
    background: red;
}

.table td {
    padding: 8px 0;
    font-size: 12px;
}

.box{
    border:none;
}


.container-fluid-full{
    height:calc(100% - 50.4px);
}
.container-fluid-full>.row-fluid{
    position: relative;
    height: 100%;
}
#content{
    min-height: 0!important;
    height: 100%
}

.row-fluid.sortable.ui-sortable{
    height: 100%;
}
#showmsg {
   	display: none;
    position: absolute;
    width: 250px;
    height: 180px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius:5px;
    text-align: center;
	line-height: 25px;
	padding:15px;
	z-index:1;
	background:url(../../../common/img/bubble.png) no-repeat;
	
} 
a.brand span {
    font-size: 24px!important;
}
.header-nav a.btn {
    padding: 15px 10px !important;
}

/*窗口*/
#tableInfo{
	display:none;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index:51;
    border: 2px solid #46b8da;
    width: 604px;
    height: 334px;
    padding-top: 30px;
    box-sizing: border-box;
}
#tableInfo table{
    border-color: #ccc;
}
#tableInfo p{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #578EBE;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 30px;
    color: #fff;
}
#tableInfo p span:first-of-type{
    float: left;
}
#tableInfo p span:last-of-type{
    float: right;
    cursor: pointer;
}
.tableContent{
    width: 100%;
    height:300px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
}
.tableContent table,.tableContent table tbody{
    width: 100%;
    height:auto;
}
.tableContent tr{
    width: 600px;
    min-height: 30px;
    line-height: 30px;
}
.tableContent tr td{
    width: 150px;
    height:auto;
    text-align: center;
}
.tableContent tr td:nth-of-type(odd){
    background-color: #f5f8fd;
}
