@charset "utf-8";

html,
body {
    overflow-y: hidden;
}
#left{
    width: 100%;
    height: 100%;
}
.panel.datagrid{
    width: 100%!important;
    height: 100%;
}

#treeGridThree{
    display: none;
}
.panel-header, .panel-body {
    border-width: 0;
}

.datagrid-footer-inner {
 border-width: 0;
}

.allWidth{
     width: 100%!important;
 }
.datagrid-wrap,.panel-body ,.panel-body-noheader, datagrid-view{
    height: 100%!important;
}

#content{
    margin: 0;
    padding: 0;
}
.breadcrumb{
    margin: 0;
    z-index: 2;
    position: relative;
}

#content {
    width: 85.6%;
    margin-right: 0!important;
}
#DataTables_Table_0{
    width: 100%;
    margin: 0;
}

#DataTables_Table_0 thead>tr>th{
    text-align: center;
    vertical-align: middle;
}
#DataTables_Table_0_wrapper>.row-fluid:first-of-type{
    margin-top: 10px;
}

.box-content{
    padding:0;
}

.breadcrumb .lists a:hover {
    color: red;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
}
.activeList{
    color:red;
    font-weight: bold;
}
#DataTables_Table_0 tbody>tr>td{
    text-align: center;
    vertical-align: middle;
}

#treeGridThree_wrapper  .row-fluid{
    display: none;
}

#tree{
	background:#fff;
    float: left;
    width: 15%;
    height: 88%;
    overflow-x:auto;
    padding:5px 0 0  0;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}


#earth{
    float: right;
    width: 85%;
    height: 100%;
}


.on{
    background: red;
}

.table td {
    padding: 8px 0;
    font-size: 12px;
}



.container-fluid-full{
    height:calc(100% - 50.4px);
}
.container-fluid-full>.row-fluid{
    position: relative;
    height: 100%;
}
#content{
    min-height: 0!important;
    height: 100%
}

.row-fluid.sortable.ui-sortable{
    height: 100%;
}

.msgInfo {
   	display: none;
    position: absolute;
    width: 250px;
    height: 180px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius:5px;
    text-align: center;
	line-height: 25px;
	padding:15px;
	z-index:1;
	background:url(../../../common/img/bubble.png) no-repeat;	
}
a.brand span {
    font-size: 24px!important;
}
.header-nav a.btn {
    padding: 15px 10px !important;
}
#sidebar-left{
    width: 10%;
    z-index:2;
}
#content {
    width: 90%;
    margin-left: 10% !important;
    padding-left: 0;
}
/*窗口*/
#tableInfo{
	display:none;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index:51;
    border: 2px solid #46b8da;
    width: 604px;
    height: 334px;
    padding-top: 30px;
    box-sizing: border-box;
}
#tableInfo table{
    border-color: #ccc;
}
#tableInfo p{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #578EBE;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 30px;
    color: #fff;
}
#tableInfo p span:first-of-type{
    float: left;
}
#tableInfo p span:last-of-type{
    float: right;
    cursor: pointer;
}
.tableContent{
    width: 100%;
    height:300px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
}
.tableContent table,.tableContent table tbody{
    width: 100%;
    height:auto;
}
.tableContent tr{
    width: 600px;
    min-height: 30px;
    line-height: 30px;
}
.tableContent tr td{
    width: 150px;
    height:auto;
    text-align: center;
}
.tableContent tr td:nth-of-type(odd){
    background-color: #f5f8fd;
}